.header-store {
  overflow: hidden;
  color: #fff;
  margin-bottom: 138px;
  padding-left: 60px;
}

.header-store > .title {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  text-transform: uppercase;
  width: 30%;
  cursor: pointer;
}

.header-store > .navigation {
  font-size: 21px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  float: right;
}

.header-store [type="search"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: inherit;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 8px;
  width: 358px;
  margin-right: 65px;
  outline: none;
  vertical-align: bottom;
}

.header-store .action {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  margin-right: 60px;
  padding-bottom: 8px;
  position: relative;
}

.header-store .action.-last {
  margin-right: 0;
}

.header-store .action:after {
  content: " ";
  height: 1px;
  width: 100%;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale(0);
  transition: transform 200ms linear;
  transform-origin: center left;
}

.header-store .action:hover:after {
  transform: scale(1);
}

::placeholder {
  color: #fff;
}

@media (max-width: 1310px) {
  .header-store {
    padding-right: 60px;
  }
}

@media (max-width: 1235px) {
  .header-store {
    margin-bottom: 70px;
  }

  .header-store > .title {
    float: none;
    text-align: center;
    width: 100%;
  }

  .header-store > .navigation {
    float: none;
    text-align: center;
  }
}

@media (max-width: 955px) {
  .header-store {
    padding-right: 30px;
    padding-left: 30px;
  }
  .header-store [type="search"] {
    display: none;
  }
}

@media (max-width: 465px) {
  .header-store .action {
    margin-right: 15px;
  }
}
