.text-container{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
}

.-title{
    font-size: 25px;    
    margin-bottom: 100px;
    margin-top: 50px;
}

.-estoque{
    font-size: 20px;
    margin-bottom: 28px;
}

.-frete{
    display: inline;
    font-size: 20px;
    padding-right: 80px;
}

.-vlrfrete{
    display: inline-block;
    margin-bottom: 28px;
    font-size: 20px;
}

.-preco{
    font-size: 20px;
    display: inline;
    padding-right: 75px;    
}

.-vlrpreco{
    display: inline-block;
    margin-bottom: 70px;
    font-size: 20px;
}

.-description{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.-plus {
    font-size: 20px;
    margin-bottom: 95px;
    text-decoration: none;
}

.-plus a {
    text-decoration: none;
    color: #FFF;
}

.buttons{
    display: inline-block;
}

.valores{
    display: block;
}

