.wrap-product{
    display: inline-block;
    width: 500px;
    vertical-align: middle;
    position: relative;
}

.wrap-product > .buttons{
    position: absolute;
    bottom: 0;
    transform: translateY( calc(100% + 98px ) );
}

.wrap-product > .heart{
    position: absolute;
    width: 33px;
    height: 28px;
    margin-left: -86px;

}